body{
   margin: 0px;
}
#Navegacion{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.Logos{
   width: 50px;
   height: 40px;
   border-radius: 30%;
}
.Argentina-Programa{
   font-size: 15px;
   font-family: 'Edu NSW ACT Foundation', cursive;
   margin-left: 0px;
   color: white;
}
.Secciones{
   font-family: 'Edu NSW ACT Foundation', cursive;
   font-size: 20px;
   text-decoration: none;
   margin-top: 10px;
   font-weight: bold;
   color: white;
}
#Boton{
 width: 100px;
 height: 30px;
 font-family: 'Edu NSW ACT Foundation', cursive;
 margin-top: 5px;
 border-radius: 20%;
 color: #000;
 background-color: white;
 font-size: 20px;
}
nav{
   background-color: #000;
   width: 100%;
   height: auto;
}
.Foto-Perfil{
   width: 450px;
   height: 450px;
   border-radius: 70%;
   margin-top: 85px;
   margin-left: 40px;

}
#Sobre-Mi{
   display: flex;
   background-color: #E3B23C;
   height: 100vh;
}
.Soy-Facundo{
   font-family: 'Indie Flower', cursive;
   font-size: 140px;
   font-weight: bold;
   margin-left: 70px;
   margin-bottom: 0px;
   color: #000;
}
.Full-Stack{
   font-family: 'Indie Flower', cursive;
   font-size: 60px;
   font-style: italic;
   margin-top: 10px;
   margin-left: 150px;
   color: black;
}
#Experiencia{
   width: 100%;
   height: 100vh;
   background-color: #86A397;
}
.Texto-Experiencia{
   font-family: 'Alfa Slab One', cursive;
   font-size: 50px;
   
}
.Gestor{
   font-family: 'Indie Flower', cursive;
   margin-left: 20px;
}
#LogoBW{
   width: 60px;
   height: 60px;
}
#Logo-Puesto{
   display: flex;
}
.Detalles{
   font-family: 'Indie Flower', cursive;
   font-weight: bold;
   font-size: 25px;
}
#Centrar-Experiencia{
   display: flex;
  align-items: center;
}
.Detalles2{
   font-family: 'Indie Flower', cursive;
   font-weight: bold;
   font-size: 25px;
   margin-left: 33px;
}
#Educacion{
   width: 100%;
   height: 150vh;
   background-color: #E26D5A;
}
#Logo-Educacion{
   width: 400px;
   border-radius: 20%;
   display: inline;
   }
   #Centrar-Logo{
      text-align: center;
   }
   .Texto-Educacion{
      font-family: 'Indie Flower', cursive;
   }
   #Logo-Educacion2{
      width: 400px;
      border-radius: 20%;
      margin-top: 30px;
   }
   #Alineacion-Educacion{
      display: flex;
      align-items: center;
      justify-content: space-around ;
   }
   #Logo-OpenBootcamp{
      width: 250px;
      border-radius: 20%;
      margin-right: 110px;
   }
   #Habilidades{
      width: 100%;
      height: 150vh;
      background-color: #815E5B;
   }
progress{
   margin-top: 90px;
   width: 400px;
   height: 100px;
}
.Logo-Html{
   width: 250px;
   height: 250px;
}
.Logo-CSS{
   margin-left: 30px;
   width: 200px;
   height: 250px;   
}
.Logo-JS{  
   margin-left: 30px;
   width: 200px;
   height: 250px; 
   
}

#Contenedor-Habilidades{
   display: grid;
   grid-template-columns: 50px 50px;
   grid-template-rows: 30px 30px 30px;
   grid-column-gap: 250px;
   grid-row-gap: 250px;
   justify-items:last baseline;
   
   }